@import url('https://fonts.google.com/share?selection.family=Rubik:ital,wght');


body {
  text-align: center;
  font-size: 20px;
  margin: 50px 0;
  font-family:'rubik';
}

h1{
  font-family:'rubik';
  font-size:50px;
  background-color:lightblue;
}

span{
  font-size:25px;
  font-family:'rubik';
}

p{
  width:500px;
  display: inline-block;
  vertical-align:middle;
  padding-top:10%;
  padding-bottom:1%;
  padding-right:1px;
  padding-left:1%;
  font-family:'rubik';
}

head{
  background-color:lightblue;
  font-family:'rubik';
}
