@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600;700;900&family=Rubik:wght@300;400;500;700&display=swap');

html {
  font-family:'Raleway';
  font-size:50px;
  background-color:black;
}

body{
  color: white;
}
